@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

/*Deze Stylesheet bepaalt de basis kleuren van de alle websites met variabelen*/
:root {
    --TextSize: 1vw;
    --Maincolor: purple;
}

html, body {
  width: 98vw;
}

* {
    font-size: var(--TextSize);
    font-family: 'Proxima Nova', sans-serif;
}

main {
    background: linear-gradient(
      70deg,
      var(--Maincolor) 0%,
      var(--Maincolor) 35%,
      rgba(175, 238, 238, 0) 35%,
      rgba(175, 238, 238, 0) 100%
    );
}

.VGVpurple {
  background-color: var(--Maincolor);
}

.FooterLinearGradientPurple {
    background: linear-gradient(
      -3deg,
      var(--Maincolor) 0%,
      var(--Maincolor) 75%,
      rgba(175, 238, 238, 0) 75%,
      rgba(175, 238, 238, 0) 100%
    );
    min-width: 50%;
    min-height: 20vw;
  }

.FooterBGcolor {
    background-color: var(--Maincolor);
  }