@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

/*Deze Stylesheet bepaalt de basis kleuren van de alle websites met variabelen*/
:root {
    --TextSize: 1vw;
    --Maincolor: rgb(44,32,92);
    --TextColor: white;
    --FooterColor: rgb(102,72,193);
    --ContactFooterColor: rgb(239, 170, 43);
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
    font-size: var(--TextSize);
    font-family: 'Proxima Nova', sans-serif;
}

main div {
    background: linear-gradient(
      75deg,
      var(--Maincolor) 0%,
      var(--Maincolor) 40%,
      rgba(175, 238, 238, 0) 40%,
      rgba(175, 238, 238, 0) 100%
    );
    color: var(--TextColor);
}

.ProductGradient div {
  background: linear-gradient(
    285deg,
    var(--Maincolor) 0%,
    var(--Maincolor) 50%,
    rgba(175, 238, 238, 0) 50%,
    rgba(175, 238, 238, 0) 100%
  );
  color: var(--TextColor);
}

.VGVpurple {
  background: rgb(175,0,255);
  background: radial-gradient(circle, rgba(175,0,255,1) 39%, rgba(44,32,92,1) 100%);
}

.FooterLinearGradientPurple {
    background: linear-gradient(
      -3deg,
      var(--FooterColor) 0%,
      var(--FooterColor) 75%,
      rgba(175, 238, 238, 0) 75%,
      rgba(175, 238, 238, 0) 100%
    );
    min-width: 50%;
    min-height: 20vw;
  }

.FooterBGcolor {
    background-color: var(--FooterColor);
  }