html {
  width: 99vw;
  max-width: 99vw;
  top: 0;
  left: 0;
}

.Maintext {
    margin: 0 9vw;
}

main {
  background-color: rgb(102,72,195);
  z-index: 0;
  box-shadow: inset 0px 0px 68px 8px rgba(0,0,0,0.75);
}

main, main div {
  top: 0;
  left: 0;
  min-height: 30vw;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

main h1 {
  font-size: 3vw;
  margin-left: 1.5vw;
}

.ProductGradient, .ProductGradient div {
  min-height: 15vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25vw;
  box-shadow: none;
}

.ProductDiv .one, .ProductDiv .two, .ProductDiv .three {
  background-size: 45%;
}

.ProductDiv .one {background-image: url("https://nl.air-up.com/_ipx/f_webp,w_1800,q_75/https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%252Ff07fb4ba10994058bfc8e0ea7ae07e70%252F960d46de848e40bb85a79c2c936f6494");}
.ProductDiv .two {background-image: url("https://nl.air-up.com/_ipx/f_webp,w_1800,q_75/https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%252Ff07fb4ba10994058bfc8e0ea7ae07e70%252Fcff90b60e2c14a148dc81826fd9174ad");}
.ProductDiv .three {background-image: url("https://nl.air-up.com/_ipx/f_webp,w_1800,q_75/https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%252Ff07fb4ba10994058bfc8e0ea7ae07e70%252F38393193d26a4e5b9a72075933964e27");}

.StappenImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;

}

.StappenImages div {
  width: 25vw;
  height: 18vw;
  background-color: rgb(200, 200, 200);
  text-align: center;
  background-size: 110%;
  background-position: -2vw 0vw;
}

.StappenSection h2 {
  font-size: 2vw;
}

.StappenImages .one {background-image: url("https://nl.air-up.com/_ipx/f_webp,w_1800,q_75/https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%252Ff07fb4ba10994058bfc8e0ea7ae07e70%252F8f02c1949889434faefc3d3d1c010691");}
.StappenImages .two {background-image: url("/Project-3/Assets/Video_Assets/Gifs/assets_f07fb4ba10994058bfc8e0ea7ae07e70_95c22ab370e44e44b4d9dd2b5c9453dc_compressed.gif");}
.StappenImages .three {background-image: url("https://nl.air-up.com/_ipx/f_webp,w_1800,q_75/https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%252Ff07fb4ba10994058bfc8e0ea7ae07e70%252F531ff180b9194164a44ce63232d157d1");}


.OntdekProducten {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.OntdekProducten li {
  list-style: none;
  width: 20vw;
  height: 25vw;
  background-color: rgb(200, 200, 200);
  text-align: center;
}


.RetronasaalFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.RetronasaalFlex div {
  width: 51%;
}

.RetronasaalFlex div h2 {
  font-size: 2vw;
}

.RetronasaalFlex img {
  width: 40vw;
  height: 40vw;
}

/*Begin shuffle knop en div */

.ShuffleButton {
  margin-bottom: 3vw;
  max-width: 8vw;
}

.OntdekLiAnimate {
  animation: ShuffleLiAnim 2s;
}

.ShuffleDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  padding-bottom: 0vw;
}

@keyframes ShuffleLiAnim {
  from {
    opacity: 0;
    top: 40;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.FooterFlexbox {
  display: flex;
  flex-direction: row;
}

.FooterLinearGradientPurple {
  background: linear-gradient(
    -3deg,
    purple 0%,
    purple 75%,
    rgba(175, 238, 238, 0) 75%,
    rgba(175, 238, 238, 0) 100%
  );
  min-width: 50%;
  min-height: 20vw;
}

.FooterLinearGradientWhite {
  background: linear-gradient(
    -3deg,
    rgb(227, 227, 227) 0%,
    rgb(227, 227, 227) 63.5%,
    rgba(175, 238, 238, 0) 63.5%,
    rgba(175, 238, 238, 0) 100%
  );
  min-width: 50%;
  min-height: 20vw;
}

.FooterBGcolor {
  padding-top: 4vw;
  background-color: purple;
}

.VeelgesteldeVragenTable {
  display: flex;
  justify-content: center;
}

.VGVpurple {
 background-color:purple;
 height: 10vw;
 padding: 10vw 0;
 text-align: center;
}

.VGVpurple div {
  margin-bottom: 2vw;
}

.VGVpurple div h1 {
  color: white;
  font-size: 3vw;
}

.VGVSearchBar {
  min-height: 25vw;
  max-width: 40vw;
  margin: 0 29vw;
  padding: 0.5vw;
}

.VGVSearchBar button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}

.VGVpurple div input, .VGVSearchBar {
  border-radius: 2vw;
  min-height: 2vw;
  min-width: 35vw;
  background-color: white;
  border-style: none;
  border-width: 0.5vw;
  border-color: white;
}

.VeelgesteldeVragenTable tr td div  {
  background-color: white;
  box-shadow: 0px 0px 0.3vw 1px rgba(0,0,0,0.25);
  width: 20vw;
  height: 10vw;
  margin: 1vw;
  padding: 0;
  text-align: center;
  transition: 0.5s;
  border-radius: 1.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VeelgesteldeVragenTable tr td div:hover  {
  color: blue;
  padding: 1vw;
  margin: 0;
  transition: 0.5s;
  cursor: pointer;
}

.VeelgesteldeVragenTable tr td div a img  {
  height: 2vw;
  width: 2vw;
}

.VeelgesteldeVragenH1 {
  text-align: center;
  font-size: 2.5vw;
}

.VGVSection table tr td a {
  font-weight: bolder;
  font-size: 1.2vw;
}

.VGVSection table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vw;
}

.VGVSection table tr td {
  max-width: 25vw;
  margin: 1vw;
}

.VGVSection table {
  display: flex;
  justify-content: center;
}

.VGVSection h1 {
  text-align: center;
  font-size: 2vw;
}

/* VGV sub pagina */
.VGVSubPagina {
  margin: 0 10vw;
  padding-bottom: 10vw;
}

.VGVSubPagina table {
  width: 80%;
}

.VGVSubPagina table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.VGVSubPagina table tr td {
  max-width: 45%;
  margin-bottom: 2vw;
}

.VGVSubPagina table tr td a, .VGVSection table tr td a {
  text-decoration: none;
  color: black;
}

.VGVSubPagina table tr td a:hover, .VGVSection table tr td a:hover {
  text-decoration: underline;
  color: rgb(25, 67, 181);
}


.VGVSubPagina h1 {
  font-size: 2.5vw;
}

.VGVSubPagina h2 {
  font-size: 1.7vw;
}

.VGVSubPagina h2 a {
  font-size: 1.7vw;
  color: black;
}

.OrangeButton {
  width: 10vw;
  height: 3vw;
  background-color: orange;
  border-radius: 2vw;
  border-color: orange;
  border-width: 0.2vw;
  border-style: solid;
  transition: 0.3s;
  color: white;
}

.OrangeButton:hover {
  background-color: rgb(255, 255, 255);
  border-color: orange;
  color: orange;
  border-width: 0.2vw;
  border-style: solid;
  transition: 0.3s;
  cursor: pointer;
}

.PurpleButton {
  width: 10vw;
  height: 3vw;
  background-color: rgb(102,72,193);
  border-radius: 2vw;
  border-color: rgb(102,72,193);
  border-width: 0.2vw;
  border-style: solid;
  transition: 0.3s;
  color: white;
}

.PurpleButton:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(102,72,193);
  color: rgb(102,72,193);
  border-width: 0.2vw;
  border-style: solid;
  transition: 0.3s;
  cursor: pointer;
}

.FlessenTable tr td li {
  background-color: rgb(220, 220, 220);
  width: 20vw;
  min-height: 25vw;
  list-style: none;
  margin: 1vw;
  border-radius: 0.2vw;
}

.FlessenTableImg {
  width: 15vw;
  height: 15vw;
  max-width: 15vw;
  max-height: 15vw;
}

.ContactForm {
  margin: 10vw 20vw;
  padding: 2vw;
  background-color: rgb(233, 233, 233);
  border: black 0.1vw solid;
  border-radius: 1vw;
}

.ContactForm textarea {
  max-width: 37vw;
  max-height: 30vw;
}

.OntdekLiImg {
  width: 100%;
  height: 110%;
  max-width: 100%;
  max-height: 110%;
  display: inline-block;
}

figure {
  overflow: hidden;
  margin: 0 10px;
}

.OntdekLiImgZoom {
  display:block;
}

.OntdekLiImgZoom img {
  transform: scale(1);
  transition: 0.3s ease-in-out; 
}

.OntdekLiImgZoom:hover img {
  transform: scale(1.3);
  cursor: pointer;
  transition: 0.3s ease-in-out; 
}

.ProductPaginaImg {
  width: 30vw;
  height: 25vw;
  max-width: 30vw;
  max-height: 25vw;
  margin: 2vw;
}

.ProductPaginaFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5vw 3vw;
}

.ProductPaginaFlex div {
  background-color: rgb(226, 226, 226);
}

.ProductPaginaFlex h1 {
  font-size: 2vw;
}

.ZoekProductFilters {
  background-color: rgb(197, 197, 197);
  float: left;
  padding: 3vw 1.5vw;
}

.ZoekProductText {
  width: 50vw;
  height: 3vw;
  margin: 5vw;
  border-radius: 1vw;
}

.ZoekProductSection {
  display: flex;
}

.ZoekProductTextFlex {
  display: flex;
  justify-content: center;
}

.ZoekPaginaResultaten {
  background-color: #ffffff;
  width: 100%;
  margin: 1.5vw;
  border-radius: 2vw;
}

.ZoekPaginaResultatenElement {
  background-color: #cccccc;
  width: 100%;
  height: 14vw;
  margin: 1.5vw;
  padding: 1.5vw;
  border-radius: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ZoekPaginaResultatenElement img {
  width: 16vw;
  height: 14vw;
  min-width: 16vw;
  min-height: 14vw;
  background-color: #b9b9b9;
  border-radius: 2vw;
  margin-right: 4vw;
}

.ProductLinks {
  color: black;
  text-decoration: none;
}

/* OveronsPagina */
.tablinkcontainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 35vw;
  border-radius: 5vw;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(0, 0, 0);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.tabcontent .tabcontentflex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.tabcontent .tabcontentflex img {
  width: 25vw;
  height: 15vw;
}

.tabcontent .tabcontentflex * {
  margin: 3vw;
}


/*Collapsible van homepagina*/
.collapsible {
  background-color: rgb(255, 255, 255);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border-bottom: black 0 solid;
  border-bottom-width: 0.12vw;
  font-weight: bolder;
  font-size: 1.4vw;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}


.ContactFooter p:hover {
  text-decoration: underline;
}

/* Duurzaamheid pagina */
.DuurzaamheidFlex, .DuurzaamheidFlexR * {
  margin: 2vw;
}

/* .DuurzaamheidFlex, .DuurzaamheidFlexR div {
  background-color: #b9b9b9;
} */

.DuurzaamheidFlex, .DuurzaamheidFlexR {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  margin: 5vw 5vw;
}

.DuurzaamheidFlexR {
  flex-direction: row-reverse;
  text-align: left;
}

.DuurzaamheidHeader {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    75deg,
    rgb(111,49,188) 0%,
    rgb(111,49,188) 33%,
    rgba(175, 238, 238, 0) 33%,
    rgba(175, 238, 238, 0) 100%
  );
  z-index: 2;
  display: flex;
  align-items: end;
}

.DuurzaamheidHeaderContainer {
  background-size: 100%;
  background-position-y: -12vw;
  background-image: url("https://nl.air-up.com/_ipx/f_webp,w_1800,q_75/https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%252Ff4398d6259f245a0ab4b1b46057aba24%252F168c126eb6df40379d9273eeee93e2ac");
  height: 28vw;
  z-index: -1;
}

/* .Duurzaamheid div {
  background-image: url("https://nl.air-up.com/_ipx/f_webp,w_1800,q_75/https%3A%2F%2Fcdn.builder.io%2Fapi%2Fv1%2Fimage%2Fassets%252Ff4398d6259f245a0ab4b1b46057aba24%252F168c126eb6df40379d9273eeee93e2ac");
  width: 100%;
  height: 100%;
} */

.DuurzaamheidHeader h1 {
  color: white;
  font-size: 2.5vw;
  margin-left: 2vw;
}

.DuurzaamheidCollapsible {
  margin: 0 10vw;
}

/*Gezondheid pagina */
.GezondHeidFlexBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.GezondheidMaintext div {
  text-align: center;
}

.GezondHeidFlexBox section h1 {
  font-weight: bold;
  font-size: 2vw;
}

.GezondHeidFlexBox2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  margin: 0 12vw;
  text-align: left;
}

.GezondHeidFlexBox2 div h2 {
  font-size: 1.3vw;
}

.GezondHeidFlexBoxImg {
  margin-bottom: 5vw;
  margin-right: 5vw;
  min-width: 29vw;
  min-height: 15vw;
  background-color: rgb(173, 173, 173);
}

.GezondheidHeader {
  background-color: rgb(96,44,156);
  width: 100%;
  height: 13vw;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.GezondheidHeader h1 {
  font-size: 3vw;
}
