.Maintext {
    margin: 0 9vw;
}

main {
  top: 0;
  left: 0;
  background: linear-gradient(
    70deg,
    purple 0%,
    purple 35%,
    rgba(175, 238, 238, 0) 35%,
    rgba(175, 238, 238, 0) 100%
  );
  min-height: 45vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 0;
}

.StappenImages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.StappenImages div {
  width: 25vw;
  height: 25vw;
  background-color: rgb(200, 200, 200);
  text-align: center;
}

.OntdekProducten {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.OntdekProducten li {
  list-style: none;
  width: 20vw;
  height: 25vw;
  background-color: rgb(200, 200, 200);
  text-align: center;
}

.ShuffleButton {
  margin-bottom: 3vw;
}

.OntdekLiAnimate {
  animation: ShuffleLiAnim 2s;
}

@keyframes ShuffleLiAnim {
  from {
    opacity: 0;
    top: 40;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.GezondHeidFlexBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.GezondHeidFlexBox2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  margin: 0 12vw;
}

.GezondHeidFlexBoxImg {
  margin-bottom: 5vw;
  margin-right: 5vw;
  min-width: 26vw;
  min-height: 20vw;
  background-color: rgb(173, 173, 173);
}

.FooterFlexbox {
  display: flex;
  flex-direction: row;
}

.FooterLinearGradientPurple {
  background: linear-gradient(
    -3deg,
    purple 0%,
    purple 55%,
    rgba(175, 238, 238, 0) 55%,
    rgba(175, 238, 238, 0) 100%
  );
  min-width: 50%;
  min-height: 20vw;
}

.FooterLinearGradientWhite {
  background: linear-gradient(
    -3deg,
    rgb(172, 172, 172) 0%,
    rgb(172, 172, 172) 55%,
    rgba(175, 238, 238, 0) 55%,
    rgba(175, 238, 238, 0) 100%
  );
  min-width: 50%;
  min-height: 20vw;
}

.FooterBGcolor {
  padding-top: 4vw;
  background-color: purple;
}

/*Collapsible van homepagina*/
.collapsible {
  background-color: rgb(255, 255, 255);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-bottom: black 0 solid;
  border-bottom-width: 0.2vw;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}
